name: Sync Upstream and Build Release
on:
  workflow_dispatch:

jobs:
  sync-upstream:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write
    outputs:
      needs_update: ${{ steps.check-version.outputs.needs_update }}
      IVPN_VER: ${{ steps.check-version.outputs.IVPN_VER }}
      IVPN_VER_SPEC: ${{ steps.check-version.outputs.IVPN_VER_SPEC }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: check for new upstream version
        id: check-version
        run: |
          git fetch --tags
          LOCAL_VER=$(git describe --tags --abbrev=0)
          echo "Local version: $LOCAL_VER"

          IVPN_VER=$(curl -s https://api.github.com/repos/ivpn/desktop-app/releases/latest | jq -r '.tag_name')
          IVPN_VER_SPEC=$(echo $IVPN_VER | sed 's/v//g')

          # make sure the result matches the expected pattern
          if [[ "$IVPN_VER" =~ ^v[0-9\.]* ]]; then
            echo "IVPN version: $IVPN_VER"
          else
            echo "Failed to extract version from github"
            echo "Invalid version: $IVPN_VER"
            exit 1
          fi

          NEEDS_UPDATE=false
          if [ "$LOCAL_VER" != "$IVPN_VER" ] && [[ $IVPN_VER =~ ^v[0-9] ]]; then
            NEEDS_UPDATE=true
          fi

          # write output so next steps can use it to skip if no new version
          echo "IVPN_VER=$IVPN_VER" >> $GITHUB_OUTPUT
          echo "IVPN_VER_SPEC=$IVPN_VER_SPEC" >> $GITHUB_OUTPUT
          echo "needs_update=$NEEDS_UPDATE" >> $GITHUB_OUTPUT

  build-linux:
    runs-on: buildjet-8vcpu-ubuntu-2204-arm
    needs: [sync-upstream]
    if: needs.sync-upstream.outputs.needs_update == 'true'
    permissions:
      contents: write
    env:
      IVPN_VER: ${{ needs.sync-upstream.outputs.IVPN_VER }}
      IVPN_VER_SPEC: ${{ needs.sync-upstream.outputs.IVPN_VER_SPEC }}
    outputs:
      artifact-id: ${{ steps.artifact-upload.outputs.artifact-id }}
      commit-id: ${{ steps.commit-update.outputs.commit-id }}
    steps:
      - name : Checkout
        uses: actions/checkout@v4
        with: 
          submodules: recursive
          fetch-depth: 0

      - name: Setup git bot
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Update Desktop App Submodule to new version
        run: |
          echo "IVPN Version requested: $IVPN_VER"
          cd desktop-app
          git fetch origin --tags --force
          git checkout $IVPN_VER --force
          git reset --hard $IVPN_VER
          cd ..
          git add desktop-app
